.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1249px;
  height: 500px;
  padding: 3em;
  background-color: #FCA311;
  border: 2px solid red;
}

.message {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  width: 610px;
  height: 490px;
}

.heading {
  display: flex;
  border: 2px solid red;
}

.social {
  display: flex;
  border: 2px solid red;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 610px;
  height: 490px;
  border-radius: 10px;
  background-color: #adb5bd;
  border: 2px solid red;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.maps {
  width: 100%;
  height: 300px;
  border: 0;
}
