.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1249px;
  height: 500px;
  padding: 3em;
  background-color: #F4c100;
}

.message {
  display: flex;
  flex-direction: column;
  width: 610px;
  height: 490px;
}

.heading {
  display: flex;
}

.social {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 610px;
  height: 490px;
  border-radius: 10px;
  background-color: #fdfdfd;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.maps {
  width: 100%;
  height: 300px;
  border: 0;
}
